
h1 {
    color: white;
    text-align: center;

    margin-top: 100px;
}

form {
    max-width: 350px;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    padding: 40px;
    background:rgba(62, 62, 62, 0.37);
    border-radius: 50px;





}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    outline:none;
    border: none;
    background:rgba(129, 152, 152,0.21);
    border-radius: 30px;
     background-color: WhiteSmoke;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
     width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    outline:none;
    border: none;
    background:rgba(129, 152, 152, 0.1);
    border-radius: 30px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h1.error-message {
    color: #f44336
    text-align: center;
    margin-top: 10px;
}